
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>

    <title>Drought Prediction</title>

   	 <!-- Bootstrap core CSS -->
     <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"></link>
     
     <!-- DataTable core CSS -->
     <link href="webjars/datatables-bootstrap/2-20120201/DT_bootstrap.css" rel="stylesheet"></link>
     

     <!-- Custom styles for this template
     <link href="static/css/stylishsearchbox.css" rel="stylesheet"></link>
	 <link href="static/css/sticky-footer-navbar.css" rel="stylesheet"></link> -->
	
     

  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Drought Forcasting</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="predictedData">Prediction</a></li>
            <li><a href="historic">Historic data</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <br/>

    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Something to say on the page-header </h1>
      </div>
    </div>

    <footer class="footer">
	   <div class="container">
		<table id="mydata" class="table" >
	    <thead>
	        <tr>
	            <th>id</th>
	            <th>pdsi</th>
	            <th>date</th>
	            <th>hours</th>
	            
	        </tr>
	    </thead>
	    <tbody>
	        <tr th:each="pdsi : ${pdsii}">
	            <td th:text="${pdsi.id}"></td>
	        
	            <td th:text="${pdsi.pdsii}"></td>
	            
	            <td th:text="${pdsi.Julian_Date}"></td>
	        
	            <td th:text="${pdsi.hours}"></td>
	        </tr>
	    </tbody>
		</table>
     </div>
    </footer>

   <!--****** DataTables js scripts **********-->
   
 	<!--<script  src="webjars/datatables-bootstrap/2-20120201/DT_bootstrap.js"></script>-->
 	<!--<script  src="webjars/datatables-bootstrap/2-20120201/webjars-requirejs.js"></script>-->
 	<script  src="webjars/datatables/1.9.4/media/js/jquery.dataTables.min.js"></script>
    <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 	
 	<script>
 	$('#mydata').dataTable();
 	</script>

  </body>
</html>
