<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

     <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
     <script type="text/javascript" th:inline="javascript">
      
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
      
      	var pdsi = /*[[${pdsii}]]*/
      	
      	var pdsin = pdsi.map(function(obj) { 
			return [obj.hours,obj.pdsii];
		});
      	
      	pdsin.unshift(['hours','pdsii']);
        var data = google.visualization.arrayToDataTable(pdsin);

        var options = {
          width: 900,
          chart: {
            title: 'PDSI prediction',
            subtitle: 'predicted value is calculated every hour',
          },
          bars: 'vertical',
          vAxis: {format: 'decimal'},
          height: 500,
          colors: ['#1b9e77', '#d95f02', '#7570b3']
        };

        var chart = new google.charts.Bar(document.getElementById('chart_div'));

        chart.draw(data, google.charts.Bar.convertOptions(options));

        var btns = document.getElementById('btn-group');

        btns.onclick = function (e) {

          if (e.target.tagName === 'BUTTON') {
            options.vAxis.format = e.target.id === 'none' ? '' : e.target.id;
            chart.draw(data, google.charts.Bar.convertOptions(options));
          }
        }
      }
      
    </script>
</head>


<body>
   <!--*********************************
    <div th:if="${pdsii != null}">
	    <h1>Result</h1>
	    <ul>
	       <li th:each="item : ${pdsii}" th:text="${item.pdsii} "> </li>
	    </ul>
    </div>
    **************************************-->
    
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
    <br/>
    <div id="btn-group">
      <button class="button button-blue" id="none">No Format</button>
      <button class="button button-blue" id="scientific">Scientific Notation</button>
      <button class="button button-blue" id="decimal">Decimal</button>
      <button class="button button-blue" id="short">Short</button>
    </div>
    
</body>
</html>